*.m
*.mat
*.eps
*.bin
*.cod
*.c
*.tex
*.jnl
*.swp
*.dat
*.prn
*_simul

wsOct
/run_test_octave_output.txt
/run_test_matlab_output.txt

/block_bytecode/ls2003_tmp.mod
/partial_information/PItest3aHc0PCLsimModPiYrVarobsAll_PCL*
/partial_information/PItest3aHc0PCLsimModPiYrVarobsCNR_PCL*

!/internals/tests.m
!/fs2000_ssfile_aux.m
!/printMakeCheckMatlabErrMsg.m
!/printMakeCheckOctaveErrMsg.m
!/ramst_initval_file_data.m
!/run_test.m
!/run_test_matlab.m
!/run_test_octave.m
!/test.m
!/AIM/data_ca1.m
!/AIM/fs2000_b1L1L_AIM_steadystate.m
!/AIM/fs2000_b1L1L_steadystate.m
!/AIM/fsdat.m
!/block_bytecode/run_ls2003.m
!/bvar_a_la_sims/bvar_sample.m
!/external_function/extFunDeriv.m
!/external_function/extFunNoDerivs.m
!/external_function/extFunWithFirstAndSecondDerivs.m
!/fs2000/fs2000a_steadystate.m
!/fs2000/fsdat_simul.m
!/fs2000/fsdat_simul_missing_obs.m
!/gsa/data_ca1.m
!/gsa/data_ca1.mat
!/gsa/ls2003_mean.mat
!/gsa/ls2003_mode.mat
!/gsa/ls2003_results.mat
!/gsa/ls2003scr_mean.mat
!/gsa/ls2003scr_mode.mat
!/gsa/ls2003scr_results.mat
!/identification/kim/kim2_steadystate.m
!/identification/as2007/as2007_steadystate.m
!/kalman/likelihood/compare_kalman_routines.m
!/kalman/likelihood/simul_state_space_model.m
!/kalman/likelihood/test1.m
!/kalman/likelihood/test2.m
!/kalman/likelihood/test3.m
!/kalman_filter_smoother/test.mat
!/kalman_filter_smoother/testsmoother.m
!/kalman_steady_state/test1.m
!/k_order_perturbation/run_fs2000kplusplus.m
!/kronecker/nash_matrices.mat
!/kronecker/small_matrices.mat
!/kronecker/test_kron.m
!/ls2003/data_ca1.m
!/measurement_errors/data_ca1.m
!/missing/simulate_data_with_missing_observations.m
!/ms-sbvar/data.m
!/objectives/sgu_ex1.mat
!/parallel/data_ca1.m
!/pi2004/idata.m
!/pi2004/ych.dat
!/practicing/cagan_data.mat
!/practicing/data_consRicardoypg.mat
!/practicing/dataHST.mat
!/practicing/datasaver.m
!/recursive/data_ca1.m
