*.m
*.mat
*.eps
*.bin
*.cod
*.c
*.tex
*.jnl
*.swp
*.dat
*_simul

/block_bytecode/ws
/block_bytecode/ls2003_tmp.mod
/partial_information/PItest3aHc0PCLsimModPiYrVarobsAll_PCL*
/partial_information/PItest3aHc0PCLsimModPiYrVarobsCNR_PCL*

!/AIM/data_ca1.m
!/AIM/fs2000_b1L1L_AIM_steadystate.m
!/AIM/fs2000_b1L1L_steadystate.m
!/AIM/fsdat.m
!/block_bytecode/MARK3_endo.dat
!/block_bytecode/MARK3_exo.dat
!/block_bytecode/run_block_bytecode_tests.m
!/block_bytecode/run_ls2003.m
!/bvar_a_la_sims/bvar_sample.m
!/external_function/extFunDeriv.m
!/external_function/extFunNoDerivs.m
!/external_function/extFunWithFirstAndSecondDerivs.m
!/fs2000/fs2000a_steadystate.m
!/fs2000/fsdat_simul.m
!/kalman/likelihood/compare_kalman_routines.m
!/kalman/likelihood/simul_state_space_model.m
!/kalman/likelihood/test1.m
!/kalman/likelihood/test2.m
!/kalman/likelihood/test3.m
!/kalman_filter_smoother/test.mat
!/kalman_filter_smoother/testsmoother.m
!/k_order_perturbation/run_fs2000kplusplus.m
!/ls2003/data_ca1.m
!/objectives/sgu_ex1.mat
!/missing/simulate_data_with_missing_observations.m
!/parallel/data_ca1.m
!/pi2004/idata.m
!/pi2004/ych.dat
!/practicing/cagan_data.mat
!/practicing/dataHST.mat
!/practicing/data_consRicardoypg.mat
!/practicing/datasaver.m
!/ramst_initval_file_data.m
!/recursive/data_ca1.m
!/run_test.m
!/run_test_octave.m
!/swz/data.m
!/test.m
!/fs2000_ssfile_aux.m
