Source: dynare
Maintainer: Sébastien Villemot <sebastien.villemot@ens.fr>
Section: math
Priority: optional
Build-Depends: debhelper (>= 6), octave3.0-headers, g++-4.1
Standards-Version: 3.8.0
Homepage: http://www.dynare.org

Package: dynare
Architecture: any
Depends: octave3.0, ${shlibs:Depends}
Description: Software suite for non-linear models with forward looking variables
 Dynare is a pre-preprocesser and a collection of Octave and Matlab (R) routines
 which can solve, simulate and estimate non-linear models with forward looking
 variables.
 .
 In particular, in the field of computational economics, it is used for solving
 and estimating dynamic stochastic general equilibrium (DSGE) models.
 .
 This package contains:
  * the binary preprocessor
  * the various M-files which can be run under both Octave and Matlab (R)
  * dynamic libraries for faster computation, compiled for Octave
 .
 For dynamic libraries compiled for Matlab (R), see dynare-matlab* packages.

Package: dynare-matlab7.4
Architecture: any
Section: contrib/math
Depends: dynare, ${shlibs:Depends}
Description: Software suite for non-linear models with forward looking variables
 This package contains binary MEX files for faster execution of Dynare under
 Matlab (R).
 .
 Compilation was done using Matlab (R) version 7.4, but the binaries may work
 with older versions.

Package: dynare-matlab7.5
Architecture: any
Section: contrib/math
Depends: dynare, ${shlibs:Depends}
Description: Software suite for non-linear models with forward looking variables
 This package contains binary MEX files for faster execution of Dynare under
 Matlab (R).
 .
 Compilation was done using Matlab (R) version 7.5, but the binaries may work
 with newer versions.
